{% extends 'main.html' %}

{% block content %} 

{% if page == 'login' %}
<div class="container">
    <div class="loginRegister">
        <form method="POST" action="">
            {% csrf_token %}

            <label>Username:</label>
            <input type="text" name="username" placeholder="Enter Username" />
            <br>
            <br>
            <label>Password:</label>
            <input type="password" name="password" placeholder="Enter Password" />
            <br>
            <br>
            <input type="submit" value="Login" />
        </form>
        <br>
        <p>Haven't signed up yet?</p>
        <a href="{% url 'register' %}">Sign Up Here</a>
    </div>

    {% else %}
    <div class="container loginRegister">
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Register" />
        </form>
        <br>
        <p>Already signed up?</p>
        <a href="{% url 'login' %}">Login Here</a>
    </div>
</div>
{% endif %}
{% endblock content %}