
    {% extends 'main.html' %}

    {% block content %}
    <div class="container">
        {% if entries|length == 0 %}
            <h5>No entries yet! Click "New Entry" to get started!</h5>
        {% endif %}
        {% for entry in entries %}
            <div class="entriesList">
                <h5><a href="{% url 'entry' entry.id %}">{{entry.title}}</a></h5>
                <span>Source: {{entry.source}} | </span>
                <span>Topic: {{entry.topic}}</span><br>
                <span>Last updated: {{entry.updated}}</span>
                <hr>
            </div>
        {% endfor %}
    </div>

    {% endblock content %}
